body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
    color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #000000;
    margin: 20px 0;
}

.contenedor-imagenes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin:40px auto ;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
   
}

.contenedor-imagenes div {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    
}

.contenedor-imagenes div:hover {
    transform: scale(1.05);
}

.contenedor-imagenes img {
    width: 70%;
    border-radius: 8px;
}

.contenedor-imagenes p {
    margin-top: 10px;
    font-size: 16px;
}

.contenedor-imagenes strong {
    color: #00c853;
    font-size: 18px;
}
