<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div >
    <div >
    <h3>Login Admin</h3>
    <form method="POST">
    <div>
        <label>Usuario</label><br>
        <input type="text" name="user" >
    </div>
    <div>
        <label>Contraseña</label><br>
        <input type="password" name="contraseña" >
    </div>
    <button type="submit" >Entrar</button>
    </form>
    </div>
</div>

</body>
</html>