<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Admin - Juegos</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/juegos.css') }}">
</head>
<body>
    <div class="juego">
    <h2>Lista de Juegos</h2>
    <a href="{{ url_for('admin_nuevo') }}">Agregar nuevo juego</a> | 
    <a href="{{ url_for('admin_logout') }}">Cerrar sesión</a>
    <ul>
        {% for juego in juegos %}
            <li>
                <img src="{{ url_for('static', filename='img/' + juego[2]) }}" width="80">
                {{ juego[1] }} - ${{ juego[3] }}
                <a href="{{ url_for('admin_editar', id=juego[0]) }}">Editar</a>
            </li>
        {% endfor %}
    </ul>

    </div>
   
</body>
</html>